.main-project{
    width: 80vw;
    margin: 0 auto;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-wrap: wrap;
    padding: 0.1rem;
}
.project-menu{
    width: 28rem;
    height: 100%;
    aspect-ratio: 3/2;
    margin: 0.5rem;
    display: flex;
    padding: 1rem;
    justify-content: space-between;
    border-radius: 5px;
    flex-direction: column;
    background-color: #b7e0f0;
    box-shadow: rgba(128, 128, 128, 0.532) 0px 2px 4px 0px, rgba(35, 35, 35, 0.498) 0px 2px 6px 1px;
}
.project-menu h1{
    font-size: 2rem;
    font-weight: 400;
    width: fit-content;
    color: rgb(70, 70, 70);
    border-bottom: 2px solid grey;
}
.project-menu p{
    font-weight: 500;
    color: rgb(70, 70, 70);
}
.project-menu-icon{
    display: flex;
    align-items: center;
}
.project-menu-icon-pic{
    width: 3rem;
    margin: 0 1.5rem 0 0;
}
@media only screen and (min-width:1251px) {
    .main-project{
        width: 90vw;
    }
    .project-menu{
        width: 25rem;
        margin: 0.5rem;
        aspect-ratio: 3/2;
    }
    .project-menu h1{
        font-size: 1.8rem;
    }
    .project-menu p{
        font-size: 1rem;
    }
}
@media only screen and (max-width:2400px) {
    .main-project{
        width: 90vw;
    }
    .project-menu{
        width: 30rem;
        margin: 0.5rem;
        aspect-ratio: 3/2;
    }
    .project-menu h1{
        font-size: 1.8rem;
    }
    .project-menu p{
        font-size: 1rem;
    }
}
@media only screen and (max-width:1700px) {
    .main-project{
        width: 92vw;
    }
    .project-menu{
        width: 25rem;
        margin: 1rem 0.5rem;
        aspect-ratio: 3/2;
    }
    .project-menu h1{
        font-size: 1.8rem;
    }
    .project-menu p{
        font-size: 1rem;
    }
}
@media only screen and (max-width:500px) {
    .main-project{
        width: 100vw;
    }
    .project-menu{
        margin: 1rem 0.5rem;
        aspect-ratio: 3/2;
    }
    .project-menu h1{
        font-size: 1.7rem;
    }
    .project-menu p{
        font-size: 0.9rem;
    }
}