@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    background: transparent;
}
body{
    background-color: #ddd0c8;
    color: rgb(25, 25, 25);
    overflow: hidden;
    overflow-y: scroll;
    font-family: 'Quicksand', sans-serif;
}
::-webkit-scrollbar {
    width: 3px;
}
::-webkit-scrollbar-track {
    background-color: transparent;
}
::-webkit-scrollbar-thumb {
    background-color: #323232;
    border-radius: 20px;
}