.main-navbar{
    height: 5rem;
    width: 100vw;
    max-width: 80%;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 3;
    font-weight: 500;
    font-size: 1.2rem;
    overflow: hidden;
}
.navbar-logo{
    background-color: transparent;
}
.navbar-menu{
    display: flex;
}
.navbar-menu-item{
    margin: 1rem 1.5rem;
    padding: 0.5rem 0;
    cursor: pointer;
}
.navbar-contact{
    width: 6rem;
    min-width: fit-content;
    padding: 10px;
    border-radius: 4px;
    text-align: center;
    background-color: rgb(42, 42, 42); 
    cursor: pointer;   
}
.navbar-logo:hover{
    
}
.navbar-menu:hover{
    
}
.navbar-menu-item:hover{
    color: rgb(168, 168, 168);
    border-bottom: 2px solid rgb(170, 170, 170);
}
.navbar-contact:hover{
    background-color: rgb(124, 124, 124);    
    color: black;
}