.main-navbar{
    height: 5rem;
    width: 80vw;
    border-radius: 5px;
    margin: 0 auto;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: sticky;
    top: 0;
    z-index: 5;
    font-weight: 500;
    font-size: 1.2rem;
    background-color: rgba(50, 50, 50,0.5);
    backdrop-filter: blur(6px);
}
.navbar-logo{
    width: 10rem;
}
.navbar-menu{
    display: flex;
    width: fit-content;
    justify-content: center;
}
.navbar-menu-item{
    margin: 0 10%;
    padding: 0.5rem 0;
    cursor: pointer;
}
.navbar-contact{
    width: 6rem;
    width: fit-content;
    padding: 0.5rem;
    border-radius: 4px;
    text-align: center;
    background-color: #69452e; 
    cursor: pointer;
    color: #c1c1c1;
}
.navbar-menu-item:hover{
    color: rgb(168, 168, 168);
    border-bottom: 2px solid rgb(170, 170, 170);
}
.navbar-contact:hover{
    background-color: #b8774e;    
    color: black;
}
.navbar-menu-mobile{
    position: relative;
    font-size: 1rem;
    border-radius: 3px;
    width: 5rem;
    text-align: center;
    padding: 0.5rem;
    background-color: rgba(107, 107, 107, 0.458);
    display: none;
    cursor: pointer;
    transition: all 1s ease-in-out;
    
}
.navbar-menu-mobile:hover{
    .menu-mobile-dropdown{
        display: flex;
    }
}
.menu-mobile{
    width: 100%;
    height: 100%;
}
.menu-mobile-dropdown{
    position: absolute;
    top: 35px;
    left: -0.1%;
    background-color: rgba(204, 204, 204, 0.547);
    width: 100%;
    /* display: flex; */
    display: none;
    flex-direction: column;
    border-radius: 5px;
    backdrop-filter: blur(5px) ;
    z-index: 6;
}
.navbar-menu-item-m{
    cursor: pointer;
    margin: 0.5rem;
    width: fit-content;
    color: rgb(69, 69, 69);
    text-align: center;    
}

@media only screen and (max-width:600px) {
    .navbar-menu{
        display: none;
    }
    .navbar-contact{
        font-size: 1rem;
    }
    .navbar-logo{
        width: 27%;
    }
    .navbar-menu-mobile{
        display: block;
        font-size: 1rem;
    }
    .menu-mobile-dropdown{
        font-size: 0.9rem;
    }
}
@media only screen and (max-width:800px) {
    .main-navbar{
        width: 100vw;
    }
    .navbar-menu-item{
        margin: 0 5%;
    }
}