.main-footer{
    display: flex;
    padding: 0.5rem;
    align-items: center;
    justify-content: center;
    margin: 2rem auto 0 auto;
    width: 100%;
    background-color: #857979;
}
.footer-image{
    width: 3rem;
    margin: 0 1%;
    cursor: pointer;
}
h3{
    font-weight: 500;
    font-size: 1.3rem;
    margin: 0 1%;
}